@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

body {
    font: 14px "Courier New", monospace;
    background: #0d0d0d;
    color: #02d300;
    margin: 20px;
    white-space: pre-wrap;
}

.fail-text{
    color: #d82222;
}

.active-line{
    outline: none;
    width: 2em;
    resize:horizontal;
}

.blink-text {
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}